results/*

*.pyc
*.png
*.jpg
*.pt
*.pth
*.npy
*.pyc
*.pyo
__pycache__/*
**/__pycache__/
__pycache__
*.pyc

# copied from BIT
.DS_Store
__pycache__
.idea
*.pth
*/*.pth
*/*/*.pth
torch.egg-info/
*/**/__pycache__
docs/src/**/*
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*~
*.pt
*.pth
checkpoints